rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to all documents
    // for authenticated users.
    // TODO: Secure your data further for production applications.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
